<div class="contents row">
 	<h2 class="hdg">Launchについて</h2>
 	<div class="about">
		<p>Launchは全ての個人サービス作成者が作成したサービスを投稿するサービスです。</p>
		<p>また、いいね機能などサービス利用者側からもレスポンスを反映できる様にしました。</p>
		<p>今後は、Launchの保守と共にサービスの拡充を図れればと思っております。</p>
		<p>私自身2018/6からrubyを学び始めたので、まだ至らぬ点は多々あるかと思いますが、温かく見守っていただければ幸いです。</p>
		<p class="align-r">2018/8 <a href="https://twitter.com/funclur_01" target="_blank">funclur</a></p>
	</div>
</div>